cement @ git+https://github.com/datafolklabs/cement.git@main
cement[jinja2]
cement[yaml]
cement[colorlog]
prompt_toolkit
diskcache
dramatiq
dramatiq[rabbitmq]
dramatiq[watch]
grpcio
grpcio-tools
apscheduler
gevent
lazy_loader
pocketbase
requests
